$sfw-teal: #00a499;
$sfw-blue: #00a9e0;
$light-grey: #ecf0f1;
$dark-red: #c0392b;

@mixin gradient-background($color1, $color2) {
    background: $color1;
    background: linear-gradient(to top right, $color1, $color2);
}

body {
    @include gradient-background(#ccc, #eee);
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

h1, h2 {
    margin: 0;
}

.page-header {
    @include gradient-background($sfw-teal, $sfw-blue);
    color: white;
    padding: 30px;
}

.second-header {
    background-color: $light-grey;
    color: #222;
    padding: 20px 30px;
    box-shadow: 0 5px 10px #888;
}

.page-header, .second-header {
    border-bottom: 2px solid #222;
}

.content {
    padding: 0 30px;
}

.added-by-somebody-else {
    p {
        color: $dark-red;
    }
}

.image-wrapper, .button-wrapper {
    text-align: center;
}

.image {
    height: 330px;
    display: inline-block;
    border: 2px solid #222;
    border-radius: 5px;
    transition: border-color 0.5s ease;
    &:hover {
        border-color: $sfw-teal;
    }
}

.button {
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    color: white;
    background-color: $sfw-teal;
    border: 2px solid #222;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
        background-color: darken($sfw-teal, 10%);
    }
}

