body {
    background-color: #d3d3d3;
    margin: 0;
    font-family: sans-serif;
}

.page-header {
    background-color: #2980b9;
    color: white;
    padding: 30px;
    margin: 0;
}

.second-header {
    background-color: #ecf0f1;
    color: #222;
    padding: 20px 30px;
    margin: 0;
}

.content {
    padding: 0 30px;
}

.image {
    height: 330px;
    display: inline-block;
}

.image-wrapper {
    text-align: center;
}